# Prep

In [1]:
import numpy as np
import pandas as pd

# Import Data and Clean Up

In [2]:
Toronto1_data_csv = "Toronto.1.csv"
TorontoPostalCodes = pd.read_csv(Toronto1_data_csv)
TorontoPostalCodes.head()

  Postal code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [3]:
Toronto1_geocoordcsv = 'https://cocl.us/Geospatial_data'
!wget -q -O 'Geospatial_Coordinates.csv' geocoordcsv_data
geocoordcsv_data = pd.read_csv(Toronto1_geocoordcsv)
del geocoordcsv_data['Postal Code']
geocoordcsv_data.head()

    Latitude  Longitude
0  43.806686 -79.194353
1  43.784535 -79.160497
2  43.763573 -79.188711
3  43.770992 -79.216917
4  43.773136 -79.239476

# Combine DFs

In [4]:
Toronto1_Hoods = TorontoPostalCodes.join(geocoordcsv_data)
Toronto1_Hoods.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476