# Prep

In [1]:
import numpy as np
import pandas as pd

# Import

In [12]:
Toronto1_data_csv = "Toronto.1.csv"
TorontoPostalCodes = pd.read_csv(Toronto1_data_csv).set_index("Postal code")
TorontoPostalCodes.rename_axis("Postal Code", axis='index', inplace=True)
TorontoPostalCodes.head()

                 Borough                              Neighborhood
Postal Code
M1B          Scarborough                           Malvern / Rouge
M1C          Scarborough  Rouge Hill / Port Union / Highland Creek
M1E          Scarborough       Guildwood / Morningside / West Hill
M1G          Scarborough                                    Woburn
M1H          Scarborough                                 Cedarbrae

In [13]:
Toronto1_geocoordcsv = 'https://cocl.us/Geospatial_data'
!wget -q -O 'Geospatial_Coordinates.csv' Toronto1_geocoordcsv
geocoordcsv_data = pd.read_csv(Toronto1_geocoordcsv).set_index("Postal Code")
geocoordcsv_data.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

# Combine DFs

In [14]:
Toronto1_Hoods = TorontoPostalCodes.join(geocoordcsv_data)
Toronto1_Hoods.head()

,Borough,Neighborhood,Latitude,Longitude
Postal Code,,,,
M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476

# Export and Shape

In [15]:
Toronto1_Hoods.to_csv('Toronto.2.csv',index=False)
Toronto1_Hoods.shape

(103, 4)